body {
  margin: 0px;
  background-color: rgba(45, 39, 39, 0.305);
}
main {
  margin-top: 10vh; /*wenn header 10% einnimmt*/
}

/*this part regards the header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: black;
}
.logo-header {
  margin-left: 10vb;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.logo-header img {
  height: 55px;
  width: 70px;
}
.logo-header p {
  margin: 0px;
}
.logo-header:hover {
  transform: scale(1.2);
  cursor: pointer;
}

nav {
  margin-bottom: 10px;
  margin-right: 10vb;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

header a:hover {
  display: inline-block;
  color: orange;
  transform: scale(1.2);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
}

/* this part regards the sections  */

.section-motivation {
  height: 30vb;
  display: flex;
  justify-content: space-between;
  margin: 0px 10vb;
  padding-top: 20px;
}
.img-motivation {
  display: flex;
  justify-content: center;
}

.section-todo {
  margin: 0px 10vb;
  display: flex;
  justify-content: center;
}
